@import 'skeleton/normalize';
@import 'skeleton/skeleton';
@import 'highlight';
@import 'fonts';

$main-color: #0000AD;
$main-color-light: #3232DC;
$secondary-color: white;
$accent-color: #F3242C;
$aux-color: #8FAFD7;

$main-font: 'Open Sans';
$accent-font: 'Quicksand';

$line-height: 1.6;

$font-huge: 3rem;
$font-large: 2.5rem;
$font-big: 1.7rem;
$font-normal: 1.3rem;
$font-small: 1rem;

$spacing-section: 5rem;
$spacing-inner-section: $spacing-section / 2;
$spacing-default: 1.5rem;
$spacing-small: 0.5rem;

// TODO: semantics?
$hr-height: 0.3rem;
$hr-width: 5.5rem;
$button-border: 0.2rem;
$contact-icon-border: 0.2rem;
$article-box-height: 27rem;
$reference-logo-width: 240px;
$skills-icon-width: 100px;
$main-face-width: 150px;

html, body {
  font-size: 100%;
  line-height: $line-height;
}

h1, h2, h3 {
  margin: 0;
  font-family: $accent-font, sans-serif;
  font-weight: 500;
  letter-spacing: 0.005rem;
}

h1 {
  font-size: $font-huge;
}

h2 {
  font-size: $font-large;
}

h3 {
  font-size: $font-big;
}

p {
  margin-bottom: $spacing-small;
  font-family: $main-font, sans-serif;
  font-size: $font-normal;
}

code {
  background: none;
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

section, header, footer {
  padding-top: $spacing-section;
  padding-bottom: $spacing-section;
  text-align: center;
  border-left: $spacing-small solid $main-color;
  border-right: $spacing-small solid $main-color;
  section {
    border: 0;
    padding-top: $spacing-section / 2;
    padding-bottom: 0;
    &:first-child {
      padding: 0;
    }
  }
  &.dark {
    background-color: $main-color;
    color: $secondary-color;
    border: 0;

    a:not(.button) {
      color: $secondary-color;
      &:hover {
        color: $accent-color;
      }
    }
  }
}

hr {
  margin: $spacing-default auto;
  width: $hr-width;
  height: $hr-height;
  padding: 0;
  border: 0;
  background-color: $accent-color;
}

.container {
  form {
    label {
      font-weight: normal;
    }

    input, textarea {
      background-color: $main-color-light;
      border-color: $main-color-light;
      color: $secondary-color;
      height: auto;
      resize: none;

      &:focus {
        border-color: $secondary-color;
      }
    }
  }
}

input.button, a.button, input.button-send.button-primary {
  font-family: $accent-font, sans-serif;
  font-weight: 500;
  margin: 0;
  letter-spacing: 1.6px;
  height: auto;
  border: $button-border solid $secondary-color;
  background-color: $secondary-color;
  color: $main-color;
  text-transform: none;
  font-size: $font-small;

  &:focus, &:hover {
    color: $aux-color;
    background-color: $secondary-color;
    border: $button-border solid $aux-color;
  }
}

.navigation {
  font-size: $font-normal;
  text-align: center;
  background-color: $main-color;
  position: absolute;
  top: 0;
  width: 100%;

  a {
    color: $secondary-color;
    font-family: $accent-font, sans-serif;
    font-weight: 500;
    text-decoration: none;
    &:hover {
      color: $aux-color;
    }
  }
}

.sticky > nav {
  position: fixed;
  z-index: 999;
}

.main-header {
  .face {
    width: $main-face-width;
  }

  .introduction {
    margin-bottom: $spacing-default;
  }

  .references-banner {
    margin-top: $spacing-section;
    margin-bottom: -$spacing-section;
    background-color: $main-color-light;
    border-left: $spacing-small solid $main-color;
    border-right: $spacing-small solid $main-color;
    text-align: center;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        margin: 0;
        padding: 0;
        height: 80px;
        width: 100%;
        @media screen and (min-width: 860px) {
          display: inline-block;
          width: 33.3%;
        }
      }
    }

    .reference-header-logo {
      $size: 30px;
      height: $size;
      margin-top: 25px;
    }
  }
}

.about-section {
  .icon {
    width: $skills-icon-width;
  }

  .details {
    p {
      font-size: $font-small;
    }
    h3 {
      margin-top: $spacing-default;
    }
  }
}

.article-details-section {
  text-align: left;

  p {
    margin-bottom: $spacing-default;
  }

  h2 {
    margin-top: $spacing-section;
    margin-bottom: $spacing-default;
  }

  h3 {
    margin-top: $spacing-default;
    margin-bottom: $spacing-small;
  }

  .article-details-footer {
    margin-top: 5rem;
    text-align: center;
  }

  .all-articles-link {
    background-color: $main-color;
    color: $secondary-color;
    border-color: $main-color;
    &:hover {
      color: $aux-color;
      border-color: $aux-color;
    }
  }
}

.articles-section {
  .all-articles-link {
    margin-top: 4%;
    width: 100%;
  }

  &.dark {
    .article-preview-box {
      background-color: $main-color-light;
    }
  }

  .article-preview-box {
    padding: 4%;
    text-align: left;
    background-color: $main-color;
    margin-top: 4%;
    min-height: $article-box-height;
    border-radius: 4px;
    position: relative;
    color: $secondary-color;

    p, a {
      font-size: $font-small;
    }

    a.no-hl {
      color: inherit;
      text-decoration: none;
      &:hover {
        text-decoration: none;
        color: $accent-color;
      }
    }

    .summary {
      margin-bottom: 4rem;
    }

    .continue-link {
      color: inherit;
      position: absolute;
      bottom: 2rem;
      &:hover {
        color: $accent-color;
      }
    }

    hr {
      margin: $spacing-default 0;
      background-color: $secondary-color;
    }
  }
}

.references-section {
  .reference-logo {
    display: block;
    margin: $spacing-inner-section auto;
    width: $reference-logo-width;
  }
}

.contact-section {
  font-size: $font-small;

  .columns {
    text-align: left;
    margin-top: $spacing-inner-section;
  }

  .send-copy {
    float: left;
  }

  input.button-send {
    float: right;
  }

  ul {
    list-style: none;
    li {
      position: relative;
      padding-left: $font-large + $font-normal;
      &::before {
        position: absolute;
        left: 0;
        top: -(($font-large - $font-normal) / 2);
        width: $font-large;
        height: $font-large;
        background-size: $font-normal;
        background-repeat: no-repeat;
        background-position: center;
        border: solid $contact-icon-border $secondary-color;
        border-radius: 100%;
        content: "";
      }

      min-height: $font-small * $line-height * 3;

      &.contact-address::before {
        background-image: url(/vendor/entypo/location-pin.svg);
      }

      &.contact-phone::before {
        background-image: url(/vendor/entypo/phone.svg);
      }

      &.contact-github::before {
        background-image: url(/vendor/entypo/github.svg);
      }

      &.contact-twitter::before {
        background-image: url(/vendor/entypo/twitter.svg);
      }

      &.contact-mail::before {
        background-image: url(/vendor/entypo/mail.svg);
      }

      &.contact-gpg::before {
        background-image: url(/vendor/entypo/fingerprint.svg);
      }
    }
  }
}
