@import 'skeleton/normalize';
@import 'skeleton/skeleton';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Quicksand:700');

$main-color: #0000AD;
$main-color-light: #3232DC;
$secondary-color: white;
$accent-color: #F3242C;
$aux-color: #8FAFD7;

html {
  font-size: 100%;
}

h1, h2, h3 {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 0.005rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.7rem;
}

p {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
}

section, header, footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
  border-left: 0.5rem solid $main-color;
  border-right: 0.5rem solid $main-color;
}

.section-dark {
  background-color: $main-color;
  color: $secondary-color;
  border: 0;
}

.headline-separator {
  margin: 1.5rem auto;
  padding: 0;
  width: 5.5rem;
  height: 0.3rem;
  border: 0;
  background-color: $accent-color;
}

.button {
  font-family: 'Quicksand', sans-serif;
  border: 2px solid $secondary-color;
  background-color: $secondary-color;
  color: $main-color;
  text-transform: none;
  letter-spacing: normal;
  font-size: 0.9rem;

  &:hover {
    color: $accent-color;
    border: 2px solid $accent-color;
  }
}

.main-header {
  .face {
    width: 150px;
  }

  .introduction {
    margin-bottom: 2rem;
  }

  .button {
    margin-bottom: 0;
  }
}

.about-section {
  .icon {
    width: 100px;
    margin-bottom: 1rem;
  }

  .description {
    font-size: 1.2rem;
  }

  .details {
    p {
      font-size: 1rem;
    }
    h3 {
      margin-bottom: 0.3rem;
    }
    .box {
      margin-top: 2rem;
    }
  }
}

.articles-section {
  .article-grid {
    margin-top: 2.5rem;
  }

  .all-articles-link {
    width: 100%;
  }

  .article {
    padding: 2rem;
    text-align: left;
    background-color: $main-color-light;
    border-radius: 0.5rem;
    margin-bottom: 4%;
    min-height: 22rem;
    position: relative;

    .continue-link {
      position: absolute;
      bottom: 1rem;
    }

    p {
      font-size: 1rem;
      margin-bottom: 1rem;
    }

    a {
      font-size: 1rem;
      color: $aux-color;
      &:hover {
        color: $accent-color;
      }
    }

    hr {
      margin: 1.5rem 0;
      padding: 0;
      width: 5.5rem;
      height: 0.3rem;
      border: 0;
      background-color: $secondary-color;
    }
  }
}

.references-section {
  .reference-logo {
    display: block;
    margin: 2rem auto;
  }
}

.contact-section {
  font-size: 1rem;

  .columns {
    margin-top: 4rem;
  }

  input, textarea {
    background-color: $main-color-light;
    border-color: $main-color-light;
    color: $secondary-color;
    height: auto;

    &:focus {
      border-color: $secondary-color;
    }
  }

  form {
    text-align: left;
    float: clear;
  }

  label {
    font-weight: normal;
  }

  textarea {
    resize: none;
  }

  .send-copy {
    float: left;
  }

  input.button-send {
    float: right;
    background-color: $secondary-color;
    color: $main-color;
    text-transform: none;
      border: 2px solid $secondary-color;

    &:focus, &:hover {
      color: $accent-color;
      background-color: $secondary-color;
      border: 2px solid $accent-color;
    }
  }

  a {
    color: $aux-color;
    &:hover {
      color: $accent-color;
    }
  }


  ul {
    text-align: left;
    list-style: none;
    li {
      position: relative;
      padding-left: 4rem;
      &::before {
        position: absolute;
        left: 0;
        top: -0.75rem;
        width: 2.5rem;
        height: 2.5rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 1rem;
        border: solid 2px $secondary-color;
        border-radius: 100%;
        content: ""
      }

      min-height: 3.5rem;

      &.contact-address::before {
        background-image: url(/assets/vendor/entypo/location-pin.svg);
      }

      &.contact-phone::before {
        background-image: url(/assets/vendor/entypo/phone.svg);
      }

      &.contact-github::before {
        background-image: url(/assets/vendor/entypo/github.svg);
      }

      &.contact-twitter::before {
        background-image: url(/assets/vendor/entypo/twitter.svg);
      }

      &.contact-mail::before {
        background-image: url(/assets/vendor/entypo/mail.svg);
      }

      &.contact-gpg::before {
        background-image: url(/assets/vendor/entypo/fingerprint.svg);
      }
    }
  }
}
