@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  src: local("OpenSans Regular"), url(/assets/vendor/OpenSans-Regular.ttf) format("ttf"); }
@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 700;
  src: local("OpenSans Bold"), url(/assets/vendor/OpenSans-Bold.ttf) format("ttf"); }

body > p {
  text-align: justify;
}

body a {
  text-decoration: underline;
  color: black;
}

body a:hover {
  text-decoration: underline;
  color: #CD1F31;
}

body > .main {
  overflow: auto;
  max-width: 680px;
  padding: 0 15px;
  font-family: 'OpenSans', sans-serif;
  line-height: 1.5;
  font-size: 1.2em;
  margin: auto;
}

.footer {
  font-size: 0.7em; }

.header {
  text-align: center
}

.header > img {
  display: block;
  margin: 1em auto;
}

.header > .face {
  width: 200px;
}

.header > .brand {
  width: 300px;
}

.subtext {
  margin-top: 1em;
}

p {
  text-align: justify;
}

.pill {
  white-space: nowrap;
  margin: 0 0.5em;
  color: white;
  background-color: #8EAFD9;
  border-radius: 500px;
  display: inline-block;
  height: 2em;
  vertical-align: middle;
  margin: 0.4em;
}

.pill > span {
  display: inline-block;
  height: 2em;
  vertical-align: middle;
  line-height: 2em;
  margin-left: 1em;
  margin-right: 1em;
}

.pill a {
  color: white;
}

