@import 'skeleton/normalize';
@import 'skeleton/skeleton';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Quicksand:700');

$main-color: #0000AD;
$secondary-color: white;
$accent-color: #F3242C;
$aux-color: #8FAFD7;

html {
  font-size: 100%;
}

h1 {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 3rem;
}

p {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
}

.headline-separator {
  margin: 1.5rem auto;
  padding: 0;
  width: 100px;
  height: 4px;
  border: 0;
  background-color: $accent-color;
}

.button {
  font-family: 'Quicksand', sans-serif;
  background-color: $secondary-color;
  border-color: $secondary-color;
  color: $main-color;
  text-transform: none;
  letter-spacing: normal;
  font-size: 0.9rem;

  &:hover {
    color: $accent-color;
    border-color: $aux-color;
  }
}

.main-header {
  background-color: $main-color;
  color: $secondary-color;
  text-align: center;

  .face {
    margin-top: 30px;
    width: 150px;
  }

  .introduction {
    margin-bottom: 30px;
  }
}
