<header class="main-header dark">
  <div class="container">
    <img class="face" alt="Illustration of Jakob Holderbaum's face." src="/img/face.png"/>
    <h1>Hello, I am Jakob.</h1>
    <hr class="headline-separator"/>
    <p class="introduction">
      I am a Consultant and Software Developer.
      <br/>
      Helping people building successful products is what I do.
    </p>
    <a class="button" href="#contact">Contact me</a>
  </div>
  <div class="references-banner">
    <div class="container">
      <ul><!--
      {{ range where $.Site.Data.References.companies ".headline" true }}
        --><li>
          <img class="reference-header-logo"
               alt="{{ .name }}"
               src="/img/references/{{ .ref }}-header.png"/>
        </li><!--
      {{ end }}
      -->
      </ul>
    </div>
  </div>
</header>
