{{ partial "header.html" . }}

<div class="main main-list">
  <section class="articles-header-section dark">
    <div class="container">
    {{ partial "articles-header.html" . }}
    </div>
  </section>
  <section class="articles-section">
    <div class="container">
      <div class="row article-grid">
        {{ range (where $.Data.Pages "Dir" "==" "articles/") }}
          {{ partial "article-preview.html" . }}
        {{ end }}
      </div>
    </div>
  </section>
</div>

{{ partial "footer.html" . }}
