{{ partial "header.html" . }}

<div class="main main-list">
  <section class="articles-header-section dark">
    <div class="container">
    {{ partial "articles-header.html" . }}
    </div>
  </section>
  <section class="articles-section">
    <div class="container article-grid">
      <a class="button back-link" href="/">Back to Landing Page</a>
        {{ range $index, $article := (where $.Data.Pages "Dir" "==" "articles/") }} 
          {{ if modBool $index 2 }}
            {{ if gt $index 0 }}
              </div>
            {{ end }}
            <div class="row">
          {{ end }}
          {{ partial "article-preview.html" $article }}
        {{ end }}
      </div>
      <a class="button back-link" href="/">Back to Landing Page</a>
    </div>
  </section>
</div>

{{ partial "footer.html" . }}
