{{ partial "header-sticky.html" . }}
<div class="main main-single">
  <header class="main-header dark">
    <div class="container">
      <h2>{{ .Title }}</h2>
      <hr class="headline-separator"/>

      {{ if not (isset .Params "blank") }}
      <p>
      Created at: {{ .PublishDate.Format "January 2, 2006" }}
      {{ if not (isset .Params "video") }}
      |
      Reading time: approx. {{ .ReadingTime }} Minutes
      {{ end }}
      {{ if $.GitInfo }}
        |
        <a href="https://github.com/holderbaum/holderbaum-io/blob/{{ $.GitInfo.Hash }}/content/{{ .File.Path }}">View source on GitHub</a>
      {{ end }}
      </p>
      {{ end }}

    </div>
  </header>

  <section class="article-details-section">
    <div class="container">
      {{ .Content }}

      {{ if not (isset .Params "blank") }}
      <div class="article-details-footer">
        <a class="button all-articles-link" href="/articles/">Browse all Articles</a>
      </div>
      {{ end }}
    </div>
  </section>
</div>
{{ partial "footer.html" . }}
