  <footer class="contact-section dark">
    <div class="container">
      <a name="contact"></a> 
      <h2>Let's work together.</h2>
      <hr class="headline-separator"/>
      <p>
      I am available as a freelance consultant for software and hardware
      development, product design, agile transformation and as a workshop
      facilitator.
      </p>
      <div class="row">
        <div class="six columns">
          <form>
            <label for="name">Your Name</label>
            <input class="u-full-width" id="name" type="text"/>
            <label for="email">Your E-Mail</label>
            <input class="u-full-width" id="email" type="email"/>
            <label for="message">Your Message</label>
            <textarea class="u-full-width" rows="8" id="message"></textarea>
            <label class="send-copy">
              <input type="checkbox">
              <span class="label-body">Send a copy to yourself</span>
            </label>
            <input class="button-primary button-send" value="Submit" type="submit">
          </form>
        </div>
        <div class="six columns">
          <ul>
            <li class="contact-address">
              <div>
                Holderbaum Consulting<br/>
                Adolphstrasse 18<br/>
                50679 Köln
              </div>
            </li>
            <li class="contact-phone">
              <a href="tel:+4917663729771">+49 176 / 637 297 71</a>
            </li>
            <li class="contact-mail">
              <a href="mailto:contact@holderbaum.io">contact@holderbaum.io</a>
            </li>
            <li class="contact-gpg">
              <div>
                199A F24A 8B27 D53F 0B1F<br/>
                2B5A 094D B6B8 2E06 5EBD
              </div>
            </li>
            <li class="contact-twitter">
              <a href="https://twitter.com/hldrbm">
                twitter.com/hldrbm
              </a>
            </li>
            <li class="contact-github">
              <a href="https://github.com/holderbaum">
                github.com/holderbaum
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
