Redirect 301 /voxxed17-cluj https://holderbaum.io/articles/SharedSecrets/
Redirect 301 /devseccon16 https://holderbaum.io/articles/SharedSecrets/
Redirect 301 /itake2017 https://holderbaum.io/articles/SharedSecrets/
Redirect 301 /about.html https://holderbaum.io/
Redirect 301 /imprint.html https://holderbaum.io/
Redirect 301 /mentoring.html https://holderbaum.io/
Redirect 301 /feed.xml https://holderbaum.io/articles/index.xml
Redirect 301 /articles/ContinuousDeliveryEmbeddedSystems.html https://holderbaum.io/articles/ContinuousDeliveryEmbeddedSystems/
Redirect 301 /articles/SharedSecrets.html https://holderbaum.io/articles/SharedSecrets/
Redirect 301 /articles/Learning.html https://holderbaum.io/articles/Learning/
Redirect 301 /articles/UniformAccessPrinciple.html https://holderbaum.io/articles/UniformAccessPrinciple/
Redirect 301 /articles/FirstClass.html https://holderbaum.io/articles/FirstClass/
Redirect 301 /articles/ReadableTests.html https://holderbaum.io/articles/ReadableTests/
Redirect 301 /articles/Time.html https://holderbaum.io/articles/Time/
Redirect 301 /articles/WishfulThinking.html https://holderbaum.io/articles/WishfulThinking/
Redirect 301 /articles/Boyscouts.html https://holderbaum.io/
Redirect 301 /articles/SharedSecrets-de-notes.html https://holderbaum.io/
Redirect 301 /articles/Persistence.html https://holderbaum.io/
Redirect 301 /articles/Roles.html https://holderbaum.io/
Redirect 301 /articles/MockingInducedDamage.html https://holderbaum.io/
Redirect 301 /articles/Entities.html https://holderbaum.io/
Redirect 301 /articles/AbstractionLevel.html https://holderbaum.io/
Redirect 301 /articles/CleanCoder.html https://holderbaum.io/
Redirect 301 /articles/RubyLet.html https://holderbaum.io/
Redirect 301 /articles/SecureSetup.html https://holderbaum.io/
Redirect 301 /articles/SharedSecrets-de.html https://holderbaum.io/
Redirect 301 /byscts https://holderbaum.io/articles/Boyscouts.html
Redirect 301 /clncdr https://holderbaum.io/articles/CleanCoder.html
Redirect 301 /ntts https://holderbaum.io/articles/Entities.html
Redirect 301 /frstclss https://holderbaum.io/articles/FirstClass.html
Redirect 301 /learning.html https://holderbaum.io/articles/Learning.html
Redirect 301 /prsstnc https://holderbaum.io/articles/Persistence.html
Redirect 301 /rdbltsts https://holderbaum.io/articles/ReadableTests.html
Redirect 301 /rls https://holderbaum.io/articles/Roles.html
Redirect 301 /lt https://holderbaum.io/articles/RubyLet.html
Redirect 301 /tm https://holderbaum.io/articles/Time.html
Redirect 301 /nfctn https://holderbaum.io/articles/UniformAccessPrinciple.html
Redirect 301 /wshfl https://holderbaum.io/articles/WishfulThinking.html
